

<!-- widget grid -->
<section id="widget-grid" class="">

  <!-- row -->
  <div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget jarviswidget-color-darken" id="user-form" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
          <span class="widget-icon"> <i class="fa fa-user"></i> </span>
          <h2 id="form-header-title"><%= t(:singular, scope: "simple_form.labels.user") %>: <%= @user.full_name_first_last %></h2>

        </header>

        <!-- widget div-->
        <div>

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body no-padding">
            <div class="well">


              <!-- START OF FORM -->

              <div id="form-content">
                <%= render "form" %>
              </div>

            </div>
          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->

      </div>
      <!-- end widget -->
    </article>
    <!-- WIDGET END -->

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget jarviswidget-color-darken" id="user-list" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
          <span class="widget-icon"> <i class="fa fa-list"></i> </span>
          <h2><%= t(:list_title, scope: "simple_form.labels.user") %></h2>
        </header>

        <!-- widget div-->
        <div>

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body no-padding">

          <%= render "mini_index" %>
            
          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->

      </div>
      <!-- end widget -->
    </article>
    <!-- WIDGET END -->

  </div>
  <!-- end row -->
</section>
<!-- end widget grid -->
<!-- render delete modal -->
<% content_for :page_scripts do %>
<script>
  $("#sub-modal").html("<%= escape_javascript(render 'delete') %>");
</script>
<% end %>
